terraform/stateDef.json
{
    "Comment": "Rescue Request Prioritization Pipeline",
    "StartAt": "Process Messages",
    "QueryLanguage": "JSONata",
    "States": {
        "Process Messages": {
            "Type": "Map",
            "Items": "{% $states.input %}",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "Event Handler",
                "States": {
                    "Event Handler": {
                        "Type": "Pass",
                        "Output": "{% $parse($states.input.body) %}",
                        "Next": "Check Event Type"
                    },
                    "Check Event Type": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Condition": "{% $states.input.header.eventType = 'rescue-request.created' %}",
                                "Next": "Create Event Handler"
                            },
                            {
                                "Condition": "{% $states.input.header.eventType = 'rescue-request.citizen-updated' %}",
                                "Next": "Update Event Handler"
                            }
                        ]
                    },
                    "Create Event Handler": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Output": "{% $states.result.Payload %}",
                        "Arguments": {
                            "FunctionName": "arn:aws:lambda:us-east-1:955468203539:function:createEventHandler:$LATEST",
                            "Payload": "{% $states.input %}"
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "Next": "Send To Dead Letter Queue",
                                "Output": {
                                    "originalInput": "{% $states.input %}",
                                    "error": {
                                        "name": "{% $states.errorOutput.Error %}",
                                        "cause": "{% $states.errorOutput.Cause %}",
                                        "stage": "CreateEventHandler",
                                        "timestamp": "{% $now() %}",
                                        "executionId": "{% $states.context.Execution.Id %}"
                                    }
                                }
                            }
                        ],
                        "Next": "Check Duplicate"
                    },
                    "Update Event Handler": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Output": "{% $states.result.Payload %}",
                        "Arguments": {
                            "FunctionName": "arn:aws:lambda:us-east-1:955468203539:function:updateEventHandler:$LATEST",
                            "Payload": "{% $states.input %}"
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "Next": "Send To Dead Letter Queue",
                                "Output": {
                                    "originalInput": "{% $states.input %}",
                                    "error": {
                                        "name": "{% $states.errorOutput.Error %}",
                                        "cause": "{% $states.errorOutput.Cause %}",
                                        "stage": "UpdateEventHandler",
                                        "timestamp": "{% $now() %}",
                                        "executionId": "{% $states.context.Execution.Id %}"
                                    }
                                }
                            }
                        ],
                        "Next": "Evaluate Worker"
                    },
                    "Check Duplicate": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Condition": "{% $states.input.duplicate = true %}",
                                "Next": "Duplicate End"
                            },
                            {
                                "Condition": "{% $states.input.duplicate = false %}",
                                "Next": "Evaluate Worker"
                            }
                        ]
                    },
                    "Duplicate End": {
                        "Type": "Succeed"
                    },
                    "Evaluate Worker": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Arguments": {
                            "FunctionName": "arn:aws:lambda:us-east-1:955468203539:function:evaluateWorker:$LATEST",
                            "Payload": "{% $states.input %}"
                        },
                        "Output": "{% $states.result.Payload %}",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "Next": "Send To Dead Letter Queue",
                                "Output": {
                                    "originalInput": "{% $states.input %}",
                                    "error": {
                                        "name": "{% $states.errorOutput.Error %}",
                                        "cause": "{% $states.errorOutput.Cause %}",
                                        "stage": "EvaluateWorker",
                                        "timestamp": "{% $now() %}",
                                        "executionId": "{% $states.context.Execution.Id %}"
                                    }
                                }
                            }
                        ],
                        "Next": "Choice"
                    },
                    "Choice": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Next": "Publish Evaluated Event",
                                "Condition": "{% $states.input.header.messageType = 'RescueRequestEvaluateEvent' %}"
                            },
                            {
                                "Next": "Publish ReEvaluated Event",
                                "Condition": "{% $states.input.header.messageType = 'RescueRequestReEvaluateEvent' %}"
                            }
                        ]
                    },
                    "Publish ReEvaluated Event": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::sns:publish",
                        "Arguments": {
                            "Message": "{% $states.input %}",
                            "TopicArn": "arn:aws:sns:us-east-1:955468203539:rescue-request-updated-v1"
                        },
                        "Next": "Publish Update Event Success"
                    },
                    "Publish Update Event Success": {
                        "Type": "Succeed"
                    },
                    "Publish Evaluated Event": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::sns:publish",
                        "Arguments": {
                            "Message": "{% $states.input %}",
                            "TopicArn": "arn:aws:sns:us-east-1:955468203539:rescue-prioritization-events-v1"
                        },
                        "Next": "Publish Create Event Success"
                    },
                    "Publish Create Event Success": {
                        "Type": "Succeed"
                    },
                    "Send To Dead Letter Queue": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::sqs:sendMessage",
                        "Arguments": {
                            "QueueUrl": "https://sqs.us-east-1.amazonaws.com/955468203539/rescue-request-created-dlq",
                            "MessageBody": "{% $string($states.input) %}",
                            "MessageAttributes": {
                                "stage": {
                                    "DataType": "String",
                                    "StringValue": "{% $states.input.error.stage %}"
                                },
                                "errorName": {
                                    "DataType": "String",
                                    "StringValue": "{% $states.input.error.name %}"
                                },
                                "executionId": {
                                    "DataType": "String",
                                    "StringValue": "{% $states.input.error.executionId %}"
                                }
                            }
                        },
                        "Next": "Fail"
                    },
                    "Fail": {
                        "Type": "Fail"
                    }
                }
            },
            "End": true
        }
    }
}
